.formulario div {
  position: relative;
  width: 100%;
}

.formulario div textarea,
.formulario div input {
  border: #fff;
  resize: none;
  outline: none;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
}

.formulario div input {
  height: 50px;
  padding: 10px 10px;
  padding-bottom: 0px;
}

.formulario div label {
  position: absolute;
  left: 10px;
  top: 25%;
  transition: 300ms;
}

.formulario div.textarea label {
  top: 15px;
}

.formulario div textarea {
  height: 80px;
  padding: 16px 10px;
}

.formulario textarea::placeholder,
.formulario input::placeholder {
  color: var(--cor-2);
}

.formulario div input:focus ~ label,
.formulario div input:valid ~ label {
  font-size: 12px;
  color: var(--cor-2);
  top: 5px;
}

.formulario div input:focus,
.formulario div textarea:focus {
  transition: 0.1s ease-in;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.formulario .warning {
  display: none;
  margin-top: 5px;
}

.input-container--invalido {
  margin-bottom: 0.5rem;
}

.input-container--invalido input {
  border: 2px solid rgba(165, 44, 44, 1);
  border-radius: 5px;
}

.input-container--invalido label {
  color: var(--cor-erro);
}

.input-mensagem-erro {
  display: none;
}
.input-container--invalido .input-mensagem-erro {
  color: var(--cor-erro);
  display: block;
  margin-top: 0.5rem;
  padding-left: 0.5rem;
}

.footer .formulario button {
  max-width: fit-content;
}
