body {
  background: var(--cor-1);
}

ul,
li,
h1,
p,
h3,
h4,
body {
  margin: 0px;
  padding: 0px;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: flex;
}

a {
  text-decoration: none;
  color: inherit;
}

input::placeholder {
  color: inherit;
}

button {
  display: flex;
  cursor: pointer;
  border: none;
  background: inherit;
  padding: 12px;
}
